<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.two.lloyds_app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.team.two.lloyds_app.screens.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.team.two.lloyds_app.screens.MainScreen"
            android:label="@string/title_activity_main_screen" >
        </activity>
        <activity
            android:name="com.team.two.lloyds_app.screens.Statement"
            android:label="@string/title_activity_statement" >
        </activity>
        <activity
            android:name="com.team.two.lloyds_app.objects.Transfer"
            android:label="@string/title_activity_transfer" >
        </activity>
        <activity
            android:name="com.team.two.lloyds_app.screens.Payments"
            android:label="@string/title_activity_payments" >
        </activity>
        <activity
            android:name="com.team.two.lloyds_app.screens.AddRecipient"
            android:label="@string/title_activity_add_recipment" >
        </activity>
    </application>

</manifest>
